{% extends "_base.html" %}

{% block extra_styles %}

.content {
    max-width: 400px;
    margin: 60px auto;
    padding: 40px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #0d47a1;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    margin-top: 5px;
}

.form-group input[type="submit"] {
    background-color: #e08f17;
    color: white;
    border: none;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #0d47a1;
}

.error {
    color: red;
    font-size: 0.9rem;
}
{% endblock %}

{% block title %}{{ APP_NAME }} - Mudar senha{% endblock %}
{% block header_title %}Mudar senha{% endblock %}

{% block content %}
    <div class="content">
        <h2>
            {% if reset_password %}Mude sua senha{% else %}Preencha com seu email{% endif %}
        </h2>
        
        <form method="POST" id="password-reset-form">
            {% csrf_token %}
            
            {% if reset_password %}
                <input type="hidden" name="token" value="{{ token }}">
                <div class="form-group">
                    <label for="password">Nova senha</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="form-group">
                    <label for="confirm_password">Confirme sua nova senha</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                </div>

                <div class="form-group">
                    <input type="submit" value="Mudar Senha">
                </div>
                <p id="error-message" class="error" style="display:none;"></p>
            {% else %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <input type="submit" value="Continuar">
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        document.getElementById('password-reset-form').addEventListener('submit', function(event) {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirm_password').value;
            
            if (password !== confirmPassword) {
                event.preventDefault();  // Impede o envio do formulário
                document.getElementById('error-message').innerText = 'As senhas não coincidem.';
                document.getElementById('error-message').style.display = 'block';
            } else {
                document.getElementById('error-message').style.display = 'none';
            }
        });
    </script>
{% endblock %}
    