{% extends "admin/base_site.html" %}

{% block content %}
  <h1>Ação Customizada</h1>
  <form method="post">
    {% csrf_token %}
    
    <div>
      {{ form.selected_field.label }} {{ form.selected_field }}
    </div>
    <div>
      {{ form.new_value.label }} {{ form.new_value }}
    </div>
    
    <h3>{{ form.selected_ids.label }}</h3>
    
    <!-- Campo de pesquisa -->
    <input type="text" id="search-input" placeholder="Pesquisar..." class="my-5">
    
    <!-- Container com rolagem -->
    <div id="checkbox-container" class="scrollable-container">
        {{ form.selected_ids }}
    </div>
    
    <button type="button" id="select-all-button" class="btn my-20">Selecionar Todos</button>
    
    <button type="submit" class="btn fixed">Atualizar</button>
</form>

<script>
    document.getElementById('select-all-button').addEventListener('click', function() {
        const checkboxes = document.querySelectorAll('#checkbox-container input[type="checkbox"]');
        const allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);
        checkboxes.forEach(checkbox => {
            checkbox.checked = !allChecked; // Alterna a seleção
        });
    });

    // Filtro de pesquisa
    document.getElementById('search-input').addEventListener('keyup', function() {
        const filter = this.value.toLowerCase();
        const checkboxes = document.querySelectorAll('#checkbox-container div');

        checkboxes.forEach(checkbox => {
            const label = checkbox.textContent.toLowerCase();
            checkbox.style.display = label.includes(filter) ? 'block' : 'none'; // Mostra ou esconde o checkbox
        });
    });
</script>

<style>
  .btn {
    padding: 10px;
    background-color: #417690;
    border-radius: 3px;
    border: 0px;
  }
  
  .fixed {
    position: fixed;
    top: 100px;
    right: 50px;
  }
  
  .my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .my-5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .scrollable-container {
    max-height: 500px; /* Altura máxima do container */
    overflow-y: auto; /* Habilita rolagem vertical */
    border: 1px solid #ccc; /* Borda do container */
    padding: 10px; /* Padding interno */
  }
</style>

{% endblock %}
