<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    body {
      background-color: #f0f4fa;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
    .navbar {
      background-color: #3b89d9;
      color: #fff;
      border-bottom: 2px solid #0a3d62;
    }
    .navbar-brand {
      color: #fff !important;
      font-weight: bold;
      font-size: 1.25rem;
    }
    .container-fluid {
      padding-top: 60px;
    }
    .chat-list {
      background-color: #d8e9f5;
      padding: 15px;
      height: calc(100vh - 60px);
      overflow-y: auto;
      border-right: 1px solid #ccc;
    }
    .chat-item {
      padding: 12px;
      background-color: #ffffff;
      margin-bottom: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
      color: #0a3d62;
      cursor: pointer;
      transition: background-color 0.3s, box-shadow 0.3s;
      text-decoration: none;
      display: block;
    }
    .chat-item:hover {
      background-color: #ffdda1;
      color: #0a3d62;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }
    .chat-content {
      background-color: #ffffff;
      height: calc(100vh - 60px);
      padding: 15px;
      padding-bottom: 100px;
      overflow-y: auto;
      color: #0a3d62;
    }
    .chat-message-container.sent {
      justify-content: end;
    }
    .chat-message-container.received {
      justify-content: start;
    }
    .chat-message-container {
      display: flex;
      width: 100%;
      margin-bottom: 8px;
    }
    .chat-message {
      background-color: #ffdda1;
      color: #0a3d62;
      border-radius: 6px;
      padding: 10px;
      max-width: 75%;
      display: inline-block;
      clear: both;
      font-size: 0.95rem;
    }
    .chat-message.received {
      text-align: left;
    }
    .chat-message.sent {
      background-color: #d8e9f5;
      text-align: right;
    }
    .timestamp {
      font-size: 0.75rem;
      color: #888;
      margin-top: 5px;
      text-align: right;
    }
    .chat-header {
      background-color: #3b89d9;
      color: white;
      padding: 8px;
      font-weight: bold;
      text-align: center;
      border-bottom: 2px solid #0a3d62;
      margin-bottom: 15px;
      font-size: 1.1rem;
    }
    .message-input {
      position: fixed;
      bottom: 0;
      width: 66.66%;
      display: flex;
      border-top: 1px solid #ccc;
      padding: 8px;
      margin-left: -15px;
      background-color: #ffffff;
    }
    .message-input input {
      flex: 1;
      border: none;
      padding: 8px;
    }
    .message-input button {
      background-color: #3b89d9;
      color: white;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
    }
    .auth-section {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 1rem;
      padding: 8px 20px;
    }
    .login-field {
      display: flex;
      gap: 8px;
    }
  </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ APP_NAME }}</a>
    <div class="auth-section">
      {% if user.is_authenticated %}
        <img src="https://e7.pngegg.com/pngimages/867/694/png-clipart-user-profile-default-computer-icons-network-video-recorder-avatar-cartoon-maker-blue-text.png" alt="avatar" width="40">
        <span>{{ user.username }}</span>
        <button class="btn btn-link" id="logout-btn">Logout</button>
      {% else %}
        <form class="login-field">
          {% csrf_token %}
          <input name="username" type="text" id="username" placeholder="Username">
          <input name="password" type="password" id="password" placeholder="Password">
          <button class="btn btn-primary" id="login-btn">Login</button>
        </form>
      {% endif %}
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-12 chat-list">
      <div class="chat-header">Chats</div>
      {% for chat in chats %}
        <a class="chat-item" href="{% url "support" chat.id %}">
          {% for u in chat.users.all %}
            {% if u.id != request.user.id %}
              {{ u.username }},
            {% endif %}
          {% endfor %}
        </a>
      {% endfor %}
    </div>

    {% if chat and request.user.is_authenticated %}
    <div class="col-md-8 col-12 chat-content">
      <div class="chat-header">Chat Selecionado</div>
        {% for message in chat.get_messages %}
          <div class="chat-message-container {% if message.sender.id != request.user.id %}{{ 'received' }}{% else %}{{ 'sent' }}{% endif %}"
          {% if forloop.last %}id="final"{%endif%}>
            <div class="chat-message  {% if message.sender.id != request.user.id %}{{ 'received' }}{% else %}{{ 'sent' }}{% endif %}">
              {{ message.content }} 
              <div class="timestamp">{{ message.timestamp|date:"H:i" }}</div>
            </div>
          </div>
        {% endfor %}
      <div class="message-input">
        <form action="" style="
            width: 100%;
            display: flex;
        ">
          <input type="text" id="message" placeholder="Digite sua mensagem...">
          <button id="send-message">Enviar</button>
        </form>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<script>
  $(document).ready(function () {
    $('form').on('submit', function(event) {
      event.preventDefault();
    });

    $('.chat-content').animate({
      scrollTop: $('.chat-content')[0].scrollHeight
    }, 1000);

    let ws;
    const websocketUrl = "wss://{{ request.get_host }}{{ prefix }}/ws/notifications/?token={{ request.user.access_token }}";

    function connectWebSocket() {
      ws = new WebSocket(websocketUrl);
      ws.onmessage = function (event) {
        const data = JSON.parse(event.data);
        console.log(data);

        if (data.notification_type === 'chat_message') {
          const messageElement = `
            <div class="chat-message-container received">
              <div class="chat-message received">${data.content}
                <div class="timestamp">${data.timestamp}</div>
              </div>
            </div>`;
          $('.chat-content').append(messageElement);
          
          sendToWebSocket("confirm_message_received", {"message_hash": data.messageHash});

            $('.chat-content').animate({
              scrollTop: $('.chat-content')[0].scrollHeight
            }, 1000);
        }
      };
      
      ws.onclose = function () {
        console.log('Conexão perdida. Tentando reconectar...');
        setTimeout(connectWebSocket, 5000);
      };
    }
    
    function sendToWebSocket(command, data) {
      if (ws && ws.readyState === WebSocket.OPEN) {
        ws.send(JSON.stringify({ command, data }));
      }
    }

    async function generateHash(message) {
      const timestamp = Date.now();
      const msgBuffer = new TextEncoder().encode(`${message}-${timestamp}`);
      const hashBuffer = await crypto.subtle.digest('SHA-256', msgBuffer);
      const hashArray = Array.from(new Uint8Array(hashBuffer));
      return hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
    }
    
    async function sendMessage(content) {
      if (ws && ws.readyState === WebSocket.OPEN) {
        const messageHash = await generateHash(content);
        sendToWebSocket("send_message", { message: content, message_hash: messageHash, chat: {{ chat.id }} });
      }
    }

    connectWebSocket();

    $('#send-message').click(function () {
      const message = $('#message').val();
      if (message) {
        const currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
        const messageElement = `
          <div class="chat-message-container sent">
            <div class="chat-message sent">${message}
              <div class="timestamp">${currentTime}</div>
            </div>
          </div>`;
        $('.chat-content').append(messageElement);
        sendMessage(message);
        $('#message').val('');

        $('.chat-content').animate({
          scrollTop: $('.chat-content')[0].scrollHeight
        }, 1000);
      }
    });

    $('#logout-btn').click(function () {
      $.post('{{ prefix }}/logout/', function () {
        location.reload();
      });
    });
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
