{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static APP_ICON %}" type="image/x-icon">
    <title>{% block title %}{{ APP_NAME }}{% endblock %}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
            margin: 0;
            padding: 0;
            background: #fff;
        }

        /* Fundo fixo com círculos */
        .background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #ffb852, #ffffff 50%, #74a9fc);
            z-index: -1;
        }

        .background::before {
            content: "";
            position: fixed;
            top: 0;
            right: 0;
            width: 20vw;
            height: 20vw;
            border-bottom-left-radius: 100%;
            background-color: #0e7fe6;
            z-index: -1;
        }

        .background::after {
            content: "";
            position: fixed;
            bottom: 0;
            left: 0;
            width: 20vw;
            height: 20vw;
            border-top-right-radius: 100%;
            background-color: #f1c04c;
            z-index: -1;
        }

        /* Cabeçalho */
        header {
            text-align: center;
            padding: 40px 20px;
            background-color: #0d47a1;
            color: white;
        }

        header img {
            width: 150px;
            height: auto;
        }

        header h1 {
            font-size: 2.5rem;
            font-weight: bold;
            margin-top: 20px;
        }

        /* Conteúdo Principal */
        .content {
            max-width: 1100px;
            margin: 60px auto;
            padding: 40px;
            background-color: #fafafa;
            border-radius: 10px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        }

        .content h2 {
            color: #0d47a1;
            font-size: 2rem;
            margin-bottom: 20px;
        }

        .content p {
            line-height: 1.6;
            margin-bottom: 30px;
        }

        .section {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            margin-bottom: 40px;
        }

        .section div {
            width: 48%;
        }

        .section img {
            width: 100%;
            border-radius: 8px;
        }

        .section div h3 {
            color: #0d47a1;
            font-size: 1.8rem;
            margin-bottom: 10px;
        }

        .highlight-orange {
            color: #e08f17;
        }

        .highlight-blue {
            color: #0d47a1;
        }

        footer {
            background-color: #0d47a1;
            color: white;
            padding: 15px 0;
            text-align: center;
            font-size: 0.9rem;
        }

        .btn {
            display: inline-block;
            background-color: #e08f17;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
            margin-top: 20px;
        }

        .btn:hover {
            background-color: #0d47a1;
            color: white;
        }
        
        {% block extra_styles %}{% endblock %}
    </style>
</head>
<body>

    <div class="background"></div>

    <header>
        {% block icon_top_bar %}
            <img src="{% static 'images/flavor_fit_0_5.png' %}" alt="Logo {{ APP_NAME }}">
        {% endblock icon_top_bar %}
        <h1>{% block header_title %}Bem-vindo ao {{ APP_NAME }}{% endblock %}</h1>
        {% block header_subtitle %}
        <p style="text-align: center; font-size: 2rem; font-weight: bold; background-color: #fff6ecc2;margin: 0px 50px;">
            <span style="color: #0d47a1;">{{ APP_NAME_1 }}</span><span style="color: #e08f17;">{{ APP_NAME_2 }}</span>
        </p>
        {% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 {{ APP_NAME }}. Todos os direitos reservados.</p>
    </footer>
    
    {% block extra_js %}
    {% endblock %}
</body>
</html>