{% extends "_base.html" %}

{% block title %}Sobre - {{ APP_NAME }}{% endblock %}

{% block header_title %}Sobre o {{ APP_NAME }}{% endblock %}
{% block header_subtitle %}
<p style="font-size: 1.2rem;">Ajudando você a alcançar seus objetivos de saúde e bem-estar</p>
{% endblock %}

{% block content %}
<div class="content">
    <h2 class="highlight-blue">Quem Somos?</h2>
    <p>O <span class="highlight-blue">{{ APP_NAME }}</span> nasceu com a missão de tornar o acompanhamento da sua dieta e saúde mais fácil, acessível e eficiente. Criado pela paixão por nutrição e tecnologia, buscamos sempre oferecer a melhor experiência para nossos usuários, seja no controle de sua alimentação, no monitoramento do peso ou até na comunicação direta com nutricionistas.</p>

    <div class="section">
        <div>
            <h3 class="highlight-orange">Nossa Visão</h3>
            <p>Queremos ser a principal plataforma para acompanhamento de dietas e saúde no Brasil, oferecendo funcionalidades inovadoras e personalizadas para cada tipo de usuário. Nossa visão é transformar a maneira como as pessoas gerenciam seus hábitos alimentares e o cuidado com o corpo.</p>
        </div>
        <div>
            <h3 class="highlight-orange">Nossa Missão</h3>
            <p>Nosso objetivo é fornecer ferramentas intuitivas e práticas para que qualquer pessoa, seja um usuário comum ou um nutricionista, possa alcançar suas metas de saúde e bem-estar de forma simples e organizada. Acreditamos que todos merecem uma vida mais saudável e feliz.</p>
        </div>
    </div>

    <div class="section">
        <div>
            <h3 class="highlight-blue">Por Que Escolher o {{ APP_NAME }}?</h3>
            <p>Com o <span class="highlight-blue">{{ APP_NAME }}</span>, você tem acesso a ferramentas poderosas para gerenciar sua dieta e acompanhar seu progresso. De planos alimentares personalizados a funcionalidades de comunicação direta com nutricionistas, tudo foi pensado para facilitar sua jornada rumo à saúde e ao bem-estar.</p>
        </div>
    </div>
    
    <div style="display: flex; justify-content: space-around; gap: 5px;">
        <a href="{% url "terms" %}" class="btn">Veja nossos termos</a>
        <a  href="{% url 'download_apk' %}" class="btn">Baixe nosso app</a>
    </div>
</div>
{% endblock %}
