{% extends "_base.html" %}

{% block content %}
    <div class="content">
        <h2>Preencha seus dados</h2>
        <form method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="nome">Nome Completo</label>
                <input type="text" id="nome" name="nome" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" required>
            </div>

            <div class="form-group">
                <label for="conf_senha">Confirme sua Senha</label>
                <input type="password" id="conf_senha" name="conf_senha" required>
            </div>

            <div class="form-group">
                <label for="idade">Idade</label>
                <input type="number" id="idade" name="idade" required>
            </div>

            <div class="form-group">
                <label for="sexo">Sexo</label>
                <select id="sexo" name="sexo" required>
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="outro">Outro</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Cadastrar">
            </div>
        </form>
    </div>
{% endblock %}