<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
    <!-- Adicionando Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">

    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f7f8fa;
            margin: 0px;
        }

        #logs-content {
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #dcdcdc;
            border-radius: 8px;
            background-color: #fff;
            overflow-x: auto;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .log-entry {
            cursor: pointer;
            margin: 10px 0;
            padding: 15px;
            background-color: #ffffff;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        }

        .log-entry:hover {
            background-color: #f1f1f1;
        }

        .log-entry .log-title {
            font-size: 16px;
            font-weight: bold;
            color: #333;
        }

        .log-option {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            margin: 10px 0;
            padding: 15px;
            background-color: #e0f7fa;
            border-radius: 8px;
            border: 1px solid #80deea;
            transition: background-color 0.3s ease;
        }

        .log-option:hover {
            background-color: #b2ebf2;
        }

        .del-btn {
            cursor: pointer;
            padding: 5px 10px;
            background-color: #ffeb3b;
            border: 1px solid #fbc02d;
            border-radius: 4px;
            text-decoration: none;
            font-size: 14px;
        }

        .del-btn:hover {
            background-color: #fdd835;
        }

        .key {
            font-weight: bold;
            cursor: pointer;
            padding-left: 20px;
            margin: 5px 0;
        }

        .value {
            margin-left: 20px;
            color: #555;
        }

        .collapsible {
            display: none;
            margin-left: 20px;
            padding-left: 20px;
            border-left: 2px solid #dcdcdc;
        }

        .toggle-btn {
            margin-right: 10px;
            cursor: pointer;
        }

        .log-detail {
            display: none;
            padding-top: 10px;
            background-color: #fafafa;
            border-top: 1px solid #ddd;
            margin-top: 10px;
        }
        
        .top {
            top: 0px;
            width: 100%;
            position: fixed;
            background-color: #1b58ff;
        }
    </style>
    
</head>

<body>
    <div class="top">
        <h1 id="title" class="my-4 text-center" style="color: white;">Visualização de Logs</h1>
    </div>
    <div class="container" style="padding-top: 120px;">
        <div>
            <h3>Arquivos Disponíveis</h3>
            <button class="del-btn" onclick="startLog()">start record</button>
            <button class="del-btn" onclick="stopLog()">stop record</button>
            
            <div id="log-options">
                {% for log_file in log_files %}
                    <div class="log-option" onclick="loadLogContent('{{ log_file }}')">
                        <span class="log-title">{{ log_file }}</span>
                        <button class="del-btn" onclick="deleteLog(event, '{{ log_file }}')">Deletar</button>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="logs-content" class="mt-4">Selecione um arquivo para visualizar o conteúdo</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/js/all.js"></script>

    <script>
        var actual_file_log = '';
        
        function startLog() {
            fetch(`{% url "start_record" %}`)  // URL de exemplo, ajuste conforme necessário
                .then(response => {
                    if (!response.ok) {
                        alert('Erro ao startar o log');
                    }
                })
                .catch(error => alert('Erro ao enviar solicitação de start: ' + error));
        }
        
        function stopLog() {
            fetch(`{% url "stop_record" %}`)  // URL de exemplo, ajuste conforme necessário
                .then(response => {
                    if (!response.ok) {
                        alert('Erro ao parar o log');
                    }
                })
                .catch(error => alert('Erro ao enviar solicitação de stop: ' + error));
        }
        
        function deleteLog(event, logFile) {
            event.stopPropagation(); // Impede que o clique no botão "Deletar" acione o evento de "load"
            fetch(`{{ prefix }}/misc/logs/delete/${logFile}/`)  // URL de exemplo, ajuste conforme necessário
                .then(response => {
                    if (response.ok) {
                        loadLogContent(logFile);
                    } else {
                        alert('Erro ao deletar o log');
                    }
                })
                .catch(error => alert('Erro ao enviar solicitação de deleção: ' + error));
        }

        async function loadLogContent(fileName, clear=true) {
            actual_file_log = fileName;

             document.getElementById('title').innerHTML = fileName;
            const contentDiv = document.getElementById('logs-content');
            if (clear) contentDiv.textContent = 'Carregando...';

            try {
                const response = await fetch(`{{ prefix }}/misc/logs/${fileName}/`);
                if (!response.ok) {
                    const errorData = await response.json();
                    throw new Error(`${errorData.error}`);
                }

                const data = await response.json();

                if (data.logs) {
                    const contentDiv = document.getElementById('logs-content');
                    contentDiv.innerHTML = ''; // Limpar conteúdo anterior
                    
                    if (typeof data !== 'object') {
                        contentDiv.textContent = data;
                        console.log(data);
                        return;
                    }
                    
                    data.logs.forEach((log, index) => {
                        const logDiv = document.createElement('div');
                        logDiv.classList.add('log-entry');
                        let title = `${log.timestamp}`;

                        if (fileName == "request_logs.json") {
                            if ("path" in log) title += ` - ${log.path}`;
                            else title += ` - response`;
                            if ("response" in log) title += ` - ${log.response.status_code}`;
                        }

                        logDiv.innerHTML = `
                            <div class="log-title">${title}</div>
                        `;

                        const logDetailDiv = document.createElement('div');
                        logDetailDiv.classList.add('log-detail');
                        logDetailDiv.innerHTML = formatLog(log);

                        logDiv.addEventListener('click', () => {
                            const allLogDetails = document.querySelectorAll('.log-detail');

                            allLogDetails.forEach(detail => {
                                detail.style.display = 'none';
                            });

                            const logDetail = logDetailDiv;
                            logDetail.style.display = logDetail.style.display === 'none' || logDetail.style.display === '' ? 'block' : 'none';
                        });

                        contentDiv.appendChild(logDiv);
                        contentDiv.appendChild(logDetailDiv);
                    });
                } else {
                    contentDiv.textContent = data.content || 'Arquivo vazio.';
                }
            } catch (error) {
                contentDiv.textContent = error.message;
            }

        }

        function formatLog(log) {
            let html = '';
            let i = 0;

            for (const key in log) {
                let value = log[key];

                try {
                    value = JSON.parse(value);
                } catch (e) {
                    value = log[key];
                }

                if (typeof value === 'object' && value !== null) {
                    html += `
                        <div class="key">
                            <button class="toggle-btn" onclick="toggleVisibility('${key}-${i}')"><i class="fas fa-plus"></i></button>
                            ${key}
                        </div>
                        <div class="value collapsible" id="${key}-${i}">
                            ${formatLog(value)}
                        </div>
                    `;
                    i++;
                } else if (typeof value === 'string') {
                    html += `
                        <div class="key">${key}</div>
                        <div class="value">${value.replace(/\n/g, '<br>')}</div>
                    `;
                } else {
                    html += `
                        <div class="key">${key}</div>
                        <div class="value">${value}</div>
                    `;
                }
            }

            return html;
        }

        function toggleVisibility(key) {
            const contentDiv = document.getElementById(key);
            const btn = contentDiv.previousElementSibling.querySelector('.toggle-btn');

            if (contentDiv.style.display === 'none' || contentDiv.style.display === '') {
                contentDiv.style.display = 'block';
                btn.innerHTML = '<i class="fas fa-minus"></i>';
            } else {
                contentDiv.style.display = 'none';
                btn.innerHTML = '<i class="fas fa-plus"></i>';
            }
        }

    </script>
</body>

</html>
