{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title|default:"Mensagem" }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
            margin: 0;
            padding: 0;
            background: #fff;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #ffb852, #ffffff 50%, #74a9fc);
            z-index: -1;
        }

        .background::before {
            content: "";
            position: fixed;
            top: 0;
            right: 0;
            width: 20vw;
            height: 20vw;
            border-bottom-left-radius: 100%;
            background-color: #0e7fe6;
            z-index: -1;
        }

        .background::after {
            content: "";
            position: fixed;
            bottom: 0;
            left: 0;
            width: 20vw;
            height: 20vw;
            border-top-right-radius: 100%;
            background-color: #f1c04c;
            z-index: -1;
        }

        header {
            text-align: center;
            padding: 40px 20px;
            background-color: #0d47a1;
            color: white;
        }

        header img {
            width: 150px;
            height: auto;
        }

        header h1 {
            font-size: 2.5rem;
            font-weight: bold;
            margin-top: 20px;
        }

        .content {
            max-width: 500px;
            margin: 60px auto;
            padding: 40px;
            background-color: #fafafa;
            border-radius: 10px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .content h2 {
            color: #0d47a1;
            font-size: 2rem;
            margin-bottom: 20px;
        }

        .content p {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }

        .content a {
            color: #0d47a1;
            font-weight: bold;
            text-decoration: none;
        }

        footer {
            background-color: #0d47a1;
            color: white;
            padding: 15px 0;
            text-align: center;
            font-size: 0.9rem;
            margin-top: auto;
        }
        
        .btn {
            display: inline-block;
            background-color: #e08f17;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
            margin-top: 20px;
        }

        .btn:hover {
            background-color: #0d47a1;
            color: white;
        }
    </style>
</head>
<body>

    <div class="background"></div>

    <header>
        <img src="{% static 'images/flavor_fit_0_5.png' %}" alt="Logo {{ APP_NAME }}">
        <h1>{{ title|default:"Mensagem" }}</h1>
    </header>

    <div class="content">
        <h2>{{ h1 }}</h2>
        <p>{{ p }}</p>
        
        {% if btn_name and btn_link %}
            <a class="btn" style="color: white;" href="{% url btn_link %}">{{ btn_name }}</a>
        {% endif %}
    </div>

    <footer>
        <p>&copy; 2024 {{ APP_NAME }}. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
