{% extends "_base.html" %}

{% block extra_styles %}
    .section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-bottom: 30px;
        justify-items: center
    }

    .section div {
        background-color: #fff9e7;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 60%;
    }
    
    .section div h3 {
        font-size: 1.5rem;
        color: #0d47a1;
    }

    .section div p {
        color: #666;
    }

    @media (max-width: 768px) {
        .section {
            grid-template-columns: 1fr;
        }
        
        .section div {
            width: 80%;
        }
    }

    .btn {
        display: inline-block;
        background-color: #0d47a1;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        margin-top: 20px;
    }

    .btn:hover {
        background-color: #FFB74D;
        color: #0d47a1;
    }

    .pre-content {
        max-width: 100%;
        padding: 20px;
    }
{% endblock extra_styles %}

{% block title %}
Termos de Compromisso - {{ APP_NAME }}
{% endblock title %}

{% block header_title %}Termos de Compromisso{% endblock header_title %}
    
{% block content %}
    <div class="pre-content">
        <div class="content" role="main">
            <h2 class="highlight-blue">Introdução</h2>
            <p>Bem-vindo ao <a href="{% url "about" %}" class="highlight-blue">{{ APP_NAME }}</a>, o aplicativo para acompanhamento de sua dieta e saúde. Ao utilizar o nosso serviço, você concorda com os seguintes termos e condições. Por favor, leia atentamente os termos abaixo.</p>

            <div class="section">
                <div>
                    <h3 class="highlight-orange">Aceitação dos Termos</h3>
                    <p>Ao criar uma conta ou usar os serviços do <a href="{% url "about" %}" class="highlight-blue">{{ APP_NAME }}</a>, você aceita estes termos de compromisso e concorda em cumprir com todas as políticas aplicáveis.</p>
                </div>
                <div>
                    <h3 class="highlight-blue">Responsabilidades do Usuário</h3>
                    <p>Você é responsável por fornecer informações precisas e completas ao utilizar o aplicativo e concorda em não violar as leis locais ou internacionais enquanto usa o serviço.</p>
                </div>
            </div>

            <div class="section">
                <div>
                    <h3 class="highlight-orange">Uso de Dados Pessoais</h3>
                    <p>Os dados pessoais fornecidos ao <a href="{% url "about" %}" class="highlight-blue">{{ APP_NAME }}</a> serão utilizados para personalizar sua experiência no aplicativo. Respeitamos sua privacidade e tomamos medidas para proteger suas informações.</p>
                </div>
                <div>
                    <h3 class="highlight-blue">Modificações dos Termos</h3>
                    <p>O <a href="{% url "about" %}" class="highlight-blue">{{ APP_NAME }}</a> pode atualizar seus termos de compromisso a qualquer momento, e você será notificado sobre quaisquer mudanças. O uso contínuo do aplicativo após as modificações será considerado como aceitação dos novos termos.</p>
                </div>
            </div>

            <h2 class="highlight-orange">Limitação de Responsabilidade</h2>
            <p>Embora nos esforcemos para fornecer informações precisas, o <a href="{% url "about" %}" class="highlight-blue">{{ APP_NAME }}</a> não se responsabiliza por erros ou omissões nos conteúdos do aplicativo e serviços associados.</p>
            <p>Montar uma dieta deve ter como prioridade um profissional da área.
                Não recomendamos que você monte sua própria dieta sem passar por um profissional, e não nos responsabilizamos por possíveis consequências.</p>
        </div>
    </div>
{% endblock content %}

